<!DOCTYPE html>
<html>
  <head>
    <title>Personal Track Safety Ltd</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="trainning company">
    <meta name="keywords" content="Education · Apprenticeships · Commercial Training ·">
    <meta name="author" content="Connor Ingold">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="follow"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>insert footer here</footer>
  </body>
</html>
